/*global*/
:root{
    --primary:rgb(182, 92, 19);
    --secondary:rgb(16, 139, 16);
}
html{
    font-size: 62.5%;/* 10px = 1rem*/ 
}
*{
    margin:0;
    padding:0;
}
body{
    font-family: arial;
}
a{
    text-decoration: none;
    color:white;
}
img{
    max-width: 100%;
}
h2{
    text-align: center;
    margin:1rem 0;
    font-size: 2.4rem;
}
p{
    font-size: 1.6rem;
    line-height: 1.5;
}
/*utilities*/
.flex-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 10rem;
}
.flex-header-v{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 35vh;
   
}
.container{
    width:80%;
    margin:0 auto;
}
.btn{
    display: block;
    font-size: 16px;
    background-color: var(--primary);
    padding: 1rem;
    text-align: center;
    margin:1rem 0;
}
/*header*/
.site-init{
    background-image: url(img/header.jpg);
    height: 40vh;
    background-size: cover;
    color:white;
}
.menu a{
    margin-right: 2rem;
}
.site-init p{
    font-size: 2rem;
}
.site-second{
    background-color: #222222;
    color:white;
}
/*about us*/
.flex-about{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
/*house item*/ 
.house-item{
    background-color: #dedede;
    width:40rem;
}
.price{
    color:var(--secondary);
    font-weight: bold;
}

/*contact form*/
.form-container{

}
fieldset{
    padding: 1rem;
}
legend,label,input{
    font-size: 1.6rem;
}
.input-container{
    margin:1rem;
}
.input-container input,
.input-container textarea{
    width:70%;
    background-color: #dedede;
    border:none;
    padding:.5rem;
    border-radius: 1rem;
}
.input-container label{
    display: inline-block;
    width:10rem;
    text-align: right;
    margin-right:1rem;
}